@model MKCFinancialPortal.Models.Invite

<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon ion-android-checkbox-outline"></i>Invite / </span>Send</h1>
</div>
<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">Send Household Invitation</div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @*<fieldset class="form-group">
            <label for="form-group-input-1">Household</label>
            @Html.DropDownList("HouseholdId", null, "--- None Selected ---", htmlAttributes: new { @class = "form-control" })
        </fieldset>*@
        <fieldset class="form-group">
            <label for="form-group-input-1">Enter Invite's Email</label>
            <input type="text" class="form-control" name="Email" placeholder="Email">
        </fieldset>
        <fieldset class="form-group text-right">
            <button type="submit" class="btn btn-primary">Send</button>
        </fieldset>
    }
</div>
